body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('Images/backgroundimage.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    width: 100%;
    color: #333;
    background-color: #F8F8F9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 75px;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.top-nav li {
    display: flex;
    align-items: center;
    height: 100%;
}

.top-nav li a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    text-decoration: none;
    color: #333;
    height: 100%;
    transition: color 0.3s; /* Smooth transition for color change */
    font-weight: 200;
}

.top-nav li a.active {
    color: #035b91f4; 
    font-weight: bold;

}

.top-nav li a:not(.active):hover {
    color: black; /* Slightly darken the text on hover */
}

.logo-container {
    display: block;
    align-items: center; /* Centers the logo vertically */
    height: 75px; /* Adjust to header height */
    padding-right: 20px;
}

.logo-container img {
    max-height: 50%;
    width: auto;
    padding: 20px;
}

main {
    padding-top: 75px; /* Adjust this value based on your header's height */
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    color: #333;
}

p, ul, .local-attractions, .instructions, .video-container p {
    font-size: 18px;
}

.videos, .video-container, iframe {
    width: 100%;
    margin-bottom: 20px;
}

.video-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.video-container iframe {
    height: 500px;
}

.instructions, .local-attractions {
    margin: 20px 0;
}

iframe {
    width: 100%;
    height: 100%;
}

img {
    width: 90%;
    height: auto;
}

@media (max-width: 768px) {
    .top-nav ul, .top-nav li a, .logo-container img {
        width: auto; /* Full width on smaller screens */
        padding: 0 10px; /* Adjust padding for smaller screens */
    }

    .top-nav li a {
        font-size: 14px; /* Smaller font size for navigation links */
    }

    .logo-container img {
        max-height: 50px; /* Adjust logo size for smaller screens */
    }

    h1, h2, p, ul, li {
        text-align: center; /* Center align text for mobile */
    }
}
