/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f5f5f5; /* Light gray background */
    background-image: url('Images/backgroundimage.jpg');
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('Images/backgroundimage.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

header {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Video section styling */
.videos {
    display: flex;
    flex-direction: column; /* Stack videos on top of each other */
    align-items: center; /* Center align the video containers */
}

.video-container {
    margin-bottom: 20px;
    width: 100%; /* Full width video containers */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: #fff; /* Add a background color if the iframe has transparency */
}

.video-container iframe {
    width: 100%; /* Full width videos */
    height: 500px; /* Increased height for better visibility */
}

.video-container p {
    margin-top: 10px;
    font-size: 14px;
    color: #999;
    text-align: center; /* Center align video descriptions */
}

/* Instructions section styling */
.instructions {
    margin-top: 40px;
}

.instructions h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Additional enhancements */
img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio for images */
}

@media (max-width: 768px) {
    /* Responsive adjustments for smaller screens */
    .video-container {
        width: 95%; /* Slightly less than full width for some margin */
        margin-bottom: 10px;
    }

    .video-container iframe {
        height: auto; /* Adjust height automatically for smaller screens */
    }
}
